* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

.container {
  max-width: 960px;
  display: block;
  margin: 0 auto;
  padding: 0 1em;
}

#hero {
  background: RGB(244, 165, 54);
  color: white;
  padding: 10em 0;
  text-align: center;
}

  #hero img {
    max-width: 100%;
  }

  #hero h1 {
    display: block;
    margin-top: 0.5em;
  }

#about {
  padding-top: 3em;
  padding-bottom: 3em;
}

  #about > h2 {
    font-weight: normal;
    margin-bottom: 2em;
  }

  #about .profiles {
    overflow: auto;
  }

  #about .profile {
    float: left;
    display: block;
    width: 50%;
  }

  #about .profile h2 {
    margin-bottom: 0.25em;
  }

  #about .profile:first-child {
    padding-right: 1em;
  }

  #about .profile:last-child {
    padding-left: 1em;
  }

#previous {
  margin-bottom: 3em;
}

  #previous h2 {
    font-weight: normal;
    margin-bottom: 0.5em;
  }

  #previous ul {
    padding-left: 0;
    margin-left: 0;
  }

  #previous ul li {
    padding-left: 0;
    list-style: none;
    display: inline;
    padding: 0;
  }

  #previous ul li img {
    width: 24.5%;
    padding: 0;
  }

#zombie {
  background: RGB(0, 35, 49);
  color: white;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em;
}

  #zombie img {
    width: 200px;
  }

#footer {
  margin-bottom: 3em;
  color: RGB(153, 153, 153);
  text-align: center;
}